<div class="jumbotron">
	<h1 class="text-center">
		Encontre e ajude a encontrar pessoas desaparecidas.
	</h1>
</div>
<p ng-show="mensagem.texto">{{mensagem.texto}}</p>
<a ng-href="#/desaparecido" class="btn btn-primary">
	Novo Desaparecido
</a>
<input ng-model="filtro" type="search" placeholder="parte do nome">
<p ng-show="desaparecidos.length">Pessoas desaparecidas: {{desaparecidos.length}}</p>
<p class="text-info" ng-hide="desaparecidos.length">Não há desaparecidos cadastrados.</p>
<div class="table-responsive">
	<table class="table table-hover">
		<tr>
			<th>Nome</th>
			<th>E-mail</th>
			<th class="text-center">Ação</th>
		</tr>
		<tr ng-repeat="desaparecido in desaparecidos | filter: filtro">
			<td>
				<a ng-href="#/desaparecido/{{desaparecido._id}}">{{desaparecido.nome}}</a>
			</td>
			<td>{{desaparecido.email}}</td>
			<td class="text-center">
				<button ng-click="remove(desaparecido)" class="btn btn-warning">
					Remover
				</button>
			</td>
		</tr>
	</table>
</div>
